@font-face {
  font-family: "RobotoBold";
  src: url("assets/fonts/Roboto/Roboto-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "RobotoMedium";
  src: url("assets/fonts/Roboto/Roboto-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "RobotoRegular";
  src: url("assets/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "RobotoLight";
  src: url("assets/fonts/Roboto/Roboto-Light.ttf") format("truetype");
}
@font-face {
  font-family: "RobotoThin";
  src: url("assets/fonts/Roboto/Roboto-Thin.ttf") format("truetype");
}
@font-face {
  font-family: "Shrikhand";
  src: url("assets/fonts/Shrikhand/Shrikhand-Regular.ttf") format("truetype");
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.btn--grey {
  color: black;
  border-radius: 20px;
  border: none;
  font-family: "RobotoMedium";
  font-size: 16px;
  text-align: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.purple {
  flex-basis: 218px;
  height: 50px;
  color: #fff;
  border-radius: 25px;
  border: none;
  padding-right: 18.75px;
  padding-left: 18.75px;
  background: linear-gradient(175deg, #9356dc 0%, #ff79da 100%);
  font-family: "RobotoMedium";
  font-size: 16px;
  text-align: center;
  transition: all 0.3s ease-in-out;
}
.purple:hover {
  box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.25);
  opacity: 80%;
}

.btn--grey {
  flex-grow: 1;
  flex-basis: 322.48px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  background: #f7f7f7;
  box-shadow: -5px -5px 9px rgba(255, 255, 255, 0.45), 5px 5px 9px rgba(94, 104, 121, 0.3);
  height: 72.37px;
}
.btn--grey .icon--grey {
  color: #7e7e7e;
  font-size: 21px;
}
.btn--grey .icon--grey:hover {
  color: rgb(210, 99, 222);
}
.btn--grey .fa-mobile-screen-button {
  padding-right: 27px;
  padding-left: 22.71px;
}
.btn--grey .fa-list {
  padding-right: 21px;
  padding-left: 23.73px;
}
.btn--grey .fa-store {
  padding-right: 18px;
  padding-left: 24.73px;
}

@media (min-width: 0) {
  .content__loader {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    opacity: 1;
    animation: visible 4s ease-in-out forwards;
  }
}

.loader {
  position: absolute;
  top: 16.5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  position: relative;
  border: solid 15px #7e7e7e;
  border-left-color: #9356dc;
  border-right-color: #ff79da;
  border-top: solid 15px transparent;
  border-bottom: solid 15px transparent;
  border-radius: 50%;
  animation: rotate-circle 2s linear infinite;
}

.txt-load {
  position: absolute;
  color: #353535;
}

.circle-half:before {
  content: "";
  position: absolute;
  border-top: solid 15px #9356dc;
  width: 150px;
  height: 150px;
  top: 0px;
  left: 10px;
  border-radius: 50%;
  animation: spin-before 1s linear infinite;
}

.circle-half:after {
  content: "";
  position: absolute;
  border-bottom: solid 15px #ff79da;
  width: 150px;
  height: 150px;
  top: 0px;
  left: 10px;
  border-radius: 50%;
  animation: spin-after 1s linear infinite;
}

@keyframes spin-before {
  0% {
    transform: rotateX(35deg) rotateY(45deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(45deg) rotateZ(360deg);
  }
}
@keyframes spin-after {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(-360deg);
  }
}
@keyframes rotate-circle {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes visible {
  0% {
    opacity: 1;
    visibility: visible;
    z-index: 1000;
  }
  50% {
    opacity: 0.9;
    visibility: visible;
    z-index: 1000;
  }
  80% {
    opacity: 0.7;
    visibility: visible;
    z-index: 1000;
  }
  99% {
    opacity: 0.4;
    visibility: visible;
    z-index: 1000;
  }
  100% {
    opacity: 0.2;
    visibility: hidden;
    z-index: -1000;
  }
}
.main-page {
  width: 100%;
  opacity: 0;
  animation: appear 4s linear forwards;
}

@keyframes appear {
  0% {
    opacity: 0;
    visibility: hidden;
    z-index: -1000;
  }
  50% {
    opacity: 0.1;
    visibility: visible;
    z-index: 1000;
  }
  80% {
    opacity: 0.3;
    visibility: visible;
    z-index: -1000;
  }
  99% {
    opacity: 0.6;
    visibility: visible;
    z-index: -1000;
  }
  100% {
    opacity: 1;
    visibility: visible;
    z-index: 1000;
  }
}
body {
  position: relative;
}
@media (min-width: 0) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: unset;
  }
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: unset;
}

.logo--txt {
  height: 63px;
  padding-top: 14px;
  padding-bottom: 13px;
  color: black;
  font-family: "Shrikhand";
  font-size: 30px;
  text-align: center;
}
@media (min-width: 768px) {
  .logo--txt {
    display: none;
  }
}

.nav__icon-txt {
  width: 100%;
  background: #eaeaea;
  box-shadow: inset 0px 0px 1px #7e7e7e;
}
.nav__icon-txt li {
  color: #353535;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 50px;
  gap: 17px;
}
.nav__icon-txt .txt {
  font-family: "RobotoMedium";
  font-size: 16px;
  text-align: center;
}

@media (min-width: 0) {
  .header .logo--svg {
    display: none;
  }
}
@media (min-width: 768px) {
  .header .logo--svg {
    display: block;
    height: 96px;
    padding-top: 30px;
    padding-bottom: 31.8px;
  }
  .header .logo--svg img {
    width: 200px;
    height: 34.204px;
  }
}

main {
  width: 100%;
}

.section__heading {
  width: 100%;
  height: 287px;
  padding-top: 39px;
  padding-bottom: 57px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: unset;
  row-gap: 27px;
  background: #f6f6f6;
}
.section__heading .title {
  font-family: "RobotoBold";
  font-size: 24px;
  text-align: center;
}
.section__heading .txt {
  font-family: "RobotoLight";
  font-size: 18px;
  text-align: center;
  color: #353535;
}
.section__heading .content__btn--purple {
  width: 218px;
}

.section__btn {
  height: 440px;
  padding-top: 48px;
  padding-bottom: 68px;
  margin-right: 20px;
  margin-left: 32px;
  display: flex;
  flex-direction: column;
}
.section__btn .title {
  font-family: "RobotoBold";
  font-size: 24px;
  text-align: left;
}
.section__btn .article__btn {
  padding-top: 26px;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: unset;
  gap: 24.94px;
}
.section__btn .article__btn .content__circle__btn {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: unset;
}
.section__btn .article__btn .circle__num {
  width: 24px;
  height: 24px;
  position: absolute;
  left: -12px;
  padding-top: 3px;
  padding-bottom: 0;
  border-radius: 50%;
  background: #9356dc;
  color: white;
  font-family: "RobotoMedium";
  font-size: 14.182px;
  text-align: center;
}

.section__menu {
  padding-top: 54px;
  padding-bottom: 66px;
  padding-right: 17px;
  padding-left: 18px;
  background: #f7f7f7;
}
.section__menu .title__menu {
  padding-top: 0;
  padding-bottom: 21px;
  font-family: "RobotoBold";
  font-size: 24px;
  text-align: left;
}

.content__menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: unset;
  row-gap: 18px;
}
.content__menu .menu {
  width: 100%;
}
.content__menu .menu .link__clic {
  position: relative;
}
.content__menu .menu .img__plate {
  width: 100%;
  height: 174px;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.content__menu .square__new {
  width: 80px;
  height: 29px;
  position: absolute;
  top: -148px;
  right: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: #99e2d0;
  color: #008766;
  font-family: "RobotoMedium";
  font-size: 14px;
  text-align: center;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}
.content__menu .card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  padding-top: 16px;
  padding-bottom: 12px;
  padding-right: 0;
  padding-left: 13px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.content__menu .card .txt {
  color: black;
}
.content__menu .card .card--title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-family: "RobotoBold";
  font-size: 18px;
  text-align: start;
}
.content__menu .card .subtitle {
  font-family: "RobotoLight";
  font-size: 17px;
  text-align: start;
}
.content__menu .card .heart-like {
  margin-right: 25px;
  margin-left: 25px;
}
@media (min-width: 0) {
  .content__menu .card .heart-like {
    width: 22px;
    height: 25px;
    position: relative;
  }
  .content__menu .card .heart-like .empty-heart {
    width: 24px;
    height: 25px;
    position: absolute;
    top: 0;
    left: -1px;
  }
  .content__menu .card .heart-like .fill-heart {
    z-index: 1;
    position: relative;
    top: 0;
    left: 0;
    font-size: 22px;
    background-image: linear-gradient(175deg, #9356dc 0%, #ff79da 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
  .content__menu .card .heart-like .fill-heart input {
    position: absolute;
    opacity: 0;
    z-index: 2;
    top: 4px;
    left: 4px;
    cursor: pointer;
  }
  .content__menu .card .heart-like .fill-heart label {
    opacity: 1;
    transition: opacity 0.1s;
  }
  .content__menu .card .heart-like .fill-heart input:checked + label {
    opacity: 1;
  }
  .content__menu .card .heart-like .fill-heart input:checked + label ~ .empty-heart {
    opacity: 0;
  }
}

@media (min-width: 768px) {
  main {
    display: flex;
    flex-direction: column;
  }
  main .section__heading {
    height: 239px;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    row-gap: 18px;
  }
  main .section__heading .title {
    font-family: "RobotoBold";
    font-size: 40px;
    text-align: center;
  }
  main .section__heading .txt {
    font-family: "RobotoLight";
    font-size: 18px;
    text-align: center;
    color: #353535;
  }
  main .section__btn {
    padding-right: 20px;
    padding-left: 20px;
    height: 228.38px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-right: 0;
    margin-left: 12px;
  }
}
@media (min-width: 768px) and (min-width: 1024px) {
  main .section__btn {
    padding-right: 180px;
    padding-left: 180px;
  }
}
@media (min-width: 768px) {
  main .section__btn .title {
    padding-top: 0;
    padding-bottom: 25px;
    padding-right: 180px;
    padding-left: 0;
  }
  main .section__btn .content__btn--grey {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
    -moz-column-gap: 36.51px;
         column-gap: 36.51px;
  }
  main .section__btn .content__btn--grey .article__btn {
    width: 33.33%;
    padding-top: 0;
    padding-bottom: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  main .section__menu {
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
@media (min-width: 768px) and (min-width: 1024px) {
  main .section__menu {
    padding-right: 180px;
    padding-left: 180px;
  }
}
@media (min-width: 768px) {
  main .section__menu .title {
    padding-top: 0;
    padding-bottom: 25px;
    padding-right: 20px;
    padding-left: 0;
  }
}
@media (min-width: 768px) and (min-width: 1024px) {
  main .section__menu .title {
    padding-right: 180px;
    padding-left: 0px;
  }
}
@media (min-width: 768px) {
  main .section__menu .content__menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10%;
    row-gap: 50px;
  }
}
@media (min-width: 768px) and (min-width: 768px) {
  main .section__menu .content__menu .menu {
    width: 45%;
  }
}

.footer__link {
  width: 100%;
  row-gap: 10px;
  padding-top: 22px;
  padding-bottom: 22px;
  padding-right: 25px;
  padding-left: 25px;
  background: #353535;
}
.footer__link .logo {
  padding-top: 0;
  padding-bottom: 16px;
  font-family: "Shrikhand";
  font-size: 18px;
  text-align: start;
  color: #fff;
}
.footer__link .span__link {
  -moz-column-gap: 7px;
       column-gap: 7px;
}
.footer__link .span__link .link {
  color: #fff;
  font-family: "RobotoMedium";
  font-size: 16px;
  text-align: start;
}
.footer__link .span__link i {
  padding-right: 11px;
}

@media (min-width: 1024px) {
  .footer__link {
    height: 114px;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-start;
    -moz-column-gap: 16px;
         column-gap: 16px;
  }
  .footer__link .logo {
    padding-top: 0;
    padding-bottom: 0;
  }
  .footer__link .span__link {
    width: 660px;
    height: 20px;
    display: flex;
    flex-direction: row;
    padding-top: 0;
    padding-bottom: 0;
  }
  .footer__link .span__link .without--icone {
    padding-left: 30px;
  }
}

@media (min-width: 0) {
  .body__card {
    display: flex;
    flex-direction: column;
    position: relative;
  }
}
.body__card .card__header__nav {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}
.body__card .card__header__nav header {
  width: 100%;
  padding-right: 89px;
  padding-left: 42px;
}
.body__card .card__header__nav .nav__icon__arrow {
  padding-right: 0;
  padding-left: 17px;
}
.body__card .card__header__nav .nav__icon__arrow .fa-arrow-left {
  color: black;
}

.main__card {
  padding-top: 0;
  padding-bottom: 40px;
  background-color: #f6f6f6;
}
.main__card .card__img {
  width: 100%;
  height: 275px;
  -o-object-fit: cover;
     object-fit: cover;
}

.card__menu {
  position: relative;
  margin-top: -51px;
  padding-right: 13px;
  padding-left: 13px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 40px;
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
  background-color: #f6f6f6;
}
@media (min-width: 768px) {
  .card__menu {
    margin-right: 96px;
    margin-left: 96px;
    padding-right: 105px;
    padding-left: 105px;
  }
}
@media (min-width: 1440px) {
  .card__menu {
    margin-right: 193px;
    margin-left: 193px;
    padding-right: 210px;
    padding-left: 210px;
  }
}
.card__menu .content__title__heart-like {
  padding-top: 32px;
  padding-bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.card__menu .title {
  font-family: "Shrikhand";
  font-size: 28px;
  text-align: start;
}
.card__menu .heart-like {
  margin-right: 25px;
  margin-left: 25px;
}
@media (min-width: 0) {
  .card__menu .heart-like {
    width: 22px;
    height: 25px;
    position: relative;
  }
  .card__menu .heart-like .fa-regular {
    position: absolute;
    top: 20;
    left: -1px;
    font-size: 25px;
    background-color: black;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
  .card__menu .heart-like .fill-heart {
    z-index: 1;
    position: relative;
    top: 0;
    left: 0;
    font-size: 22px;
    background-image: linear-gradient(175deg, #9356dc 0%, #ff79da 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
  .card__menu .heart-like .fill-heart input {
    position: absolute;
    opacity: 0;
    z-index: 2;
    top: 4px;
    left: 4px;
    cursor: pointer;
  }
  .card__menu .heart-like .fill-heart label {
    opacity: 0;
  }
  .card__menu .heart-like .fill-heart input:checked + label {
    opacity: 1;
  }
  .card__menu .heart-like .fill-heart input:checked + label ~ .fa-regular {
    opacity: 0;
  }
}

.card__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: unset;
  gap: 12px;
}
.card__content .card__title {
  font-family: "RobotoLight";
  font-size: 16px;
  text-align: start;
  text-transform: uppercase;
}
.card__content .card__title::after {
  content: "";
  width: 40px;
  height: 3px;
  display: block;
  background-color: #99e2d0;
}
.card__content .card__txt {
  position: relative;
  width: 100%;
  height: 69px;
  padding: 15px;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 0px 4.01149px 15.0431px 0px rgba(0, 0, 0, 0.1);
  transition-property: transform;
}
.card__content .card__txt:hover {
  padding-right: 83px;
}
.card__content .card__txt .txt__bolt {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-family: "RobotoMedium";
  font-size: 18px;
  text-align: start;
}
.card__content .card__txt .txt__light {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding-right: 27px;
  font-family: "RobotoLight";
  font-size: 15.043px;
  text-align: start;
}
.card__content .card__txt .price {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  padding-bottom: 15px;
  padding-right: 15px;
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: end;
  font-family: "RobotoBolt";
  font-size: 15.043px;
  text-align: start;
  color: #353535;
  font-weight: 700;
  transition-property: transform;
}
.card__content .card__txt .price:hover {
  padding-right: 83px;
}
.card__content .card__txt::before {
  content: "\f058";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  color: white;
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #99e2d0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  opacity: 0;
  transition: all 0.6 ease-in;
}
.card__content .card__txt:hover::before {
  width: 59px;
  opacity: 1;
}

@media (min-width: 0) {
  .footer__link__card {
    width: 100%;
    row-gap: 10px;
    padding-top: 22px;
    padding-bottom: 22px;
    padding-right: 25px;
    padding-left: 25px;
    background: #353535;
  }
  .footer__link__card .logo {
    padding-top: 0;
    padding-bottom: 16px;
    font-family: "Shrikhand";
    font-size: 18px;
    text-align: start;
    color: #fff;
  }
  .footer__link__card .span__link {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: unset;
    -moz-column-gap: 7px;
         column-gap: 7px;
  }
  .footer__link__card .span__link .link {
    color: #fff;
    font-family: "RobotoMedium";
    font-size: 16px;
    text-align: start;
  }
  .footer__link__card .span__link i {
    padding-right: 11px;
  }
}

@media (min-width: 1024px) {
  .footer__link__card {
    height: 114px;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-start;
    -moz-column-gap: 16px;
         column-gap: 16px;
  }
  .footer__link__card .logo {
    padding-top: 0;
    padding-bottom: 0;
  }
  .footer__link__card .span__link {
    width: 660px;
    height: 20px;
    display: flex;
    flex-direction: row;
    padding-top: 0;
    padding-bottom: 0;
  }
  .footer__link__card .span__link .without--icone {
    padding-left: 30px;
  }
}/*# sourceMappingURL=style.css.map */