@font-face {
  font-family: "RobotoBold";
  src: url("assets/fonts/Roboto/Roboto-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "RobotoMedium";
  src: url("assets/fonts/Roboto/Roboto-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "RobotoRegular";
  src: url("assets/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "RobotoLight";
  src: url("assets/fonts/Roboto/Roboto-Light.ttf") format("truetype");
}
@font-face {
  font-family: "RobotoThin";
  src: url("assets/fonts/Roboto/Roboto-Thin.ttf") format("truetype");
}
@font-face {
  font-family: "Shrikhand";
  src: url("assets/fonts/Shrikhand/Shrikhand-Regular.ttf") format("truetype");
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.btn--grey {
  color: black;
  border-radius: 20px;
  border: none;
  font-family: "RobotoMedium";
  font-size: 16px;
  text-align: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.purple {
  width: 218px;
  height: 50px;
  color: #fff;
  border-radius: 30px;
  border: none;
  padding-right: 18.75px;
  padding-left: 18.75px;
  background: linear-gradient(175deg, #9356dc 0%, #ff79da 100%);
  font-family: "RobotoMedium";
  font-size: 16px;
  text-align: center;
}
.purple:hover {
  opacity: 0.9;
}

.btn--grey {
  flex-grow: 1;
  flex-basis: 322.48px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  background: #f7f7f7;
  box-shadow: -5px -5px 9px rgba(255, 255, 255, 0.45), 5px 5px 9px rgba(94, 104, 121, 0.3);
  height: 72.37px;
}
.btn--grey:hover {
  background: #353535;
}
.btn--grey .icon--grey {
  color: #7e7e7e;
  font-size: 21px;
}
.btn--grey .icon--grey:hover {
  color: rgb(210, 99, 222);
}
.btn--grey .fa-mobile-screen-button {
  padding-right: 27px;
  padding-left: 22.71px;
}
.btn--grey .fa-list {
  padding-right: 21px;
  padding-left: 23.73px;
}
.btn--grey .fa-store {
  padding-right: 18px;
  padding-left: 24.73px;
}

@media (min-width: 0) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: unset;
  }
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: unset;
}

.logo--txt {
  height: 63px;
  padding-top: 14px;
  padding-bottom: 13px;
  color: black;
  font-family: "Shrikhand";
  font-size: 30px;
  text-align: center;
}
@media (min-width: 768px) {
  .logo--txt {
    display: none;
  }
}

.nav__icon-txt {
  width: 100%;
  background: #eaeaea;
  box-shadow: inset -5px -5px 9px rgba(255, 255, 255, 0.45), inset 5px 5px 9px rgba(94, 104, 121, 0.3);
}
.nav__icon-txt li {
  color: #353535;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 50px;
  gap: 17px;
}
.nav__icon-txt .txt {
  font-family: "RobotoMedium";
  font-size: 16px;
  text-align: center;
}

@media (min-width: 0) {
  .header .logo--svg {
    display: none;
  }
}
@media (min-width: 768px) {
  .header .logo--svg {
    display: block;
    height: 96px;
    padding-top: 30px;
    padding-bottom: 31.8px;
  }
  .header .logo--svg img {
    width: 200px;
    height: 34.204px;
  }
}

main {
  width: 100%;
}

@media (min-width: 0) {
  .section__heading {
    width: 100%;
    height: 287px;
    padding-top: 39px;
    padding-bottom: 57px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: unset;
    row-gap: 27px;
    background: #f6f6f6;
  }
  .section__heading .title {
    font-family: "RobotoBold";
    font-size: 24px;
    text-align: center;
  }
  .section__heading .txt {
    font-family: "RobotoLight";
    font-size: 18px;
    text-align: center;
    color: #353535;
  }
  .section__heading .content__btn--purple {
    width: 218px;
  }
}

.section__btn {
  height: 440px;
  padding-top: 48px;
  padding-bottom: 68px;
  margin-right: 20px;
  margin-left: 32px;
  display: flex;
  flex-direction: column;
}
.section__btn .title {
  font-family: "RobotoBold";
  font-size: 24px;
  text-align: left;
}
.section__btn .article__btn {
  padding-top: 26px;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: unset;
  gap: 24.94px;
}
.section__btn .article__btn .content__circle__btn {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: unset;
}
.section__btn .article__btn .circle__num {
  width: 24px;
  height: 24px;
  position: absolute;
  left: -12px;
  padding-top: 3px;
  padding-bottom: 0;
  border-radius: 50%;
  background: #9356dc;
  color: white;
  font-family: "RobotoMedium";
  font-size: 14.182px;
  text-align: center;
}

.section__menu {
  padding-top: 54px;
  padding-bottom: 66px;
  padding-right: 17px;
  padding-left: 18px;
  background: #f7f7f7;
}
.section__menu .title__menu {
  padding-top: 0;
  padding-bottom: 21px;
  font-family: "RobotoBold";
  font-size: 24px;
  text-align: left;
}

.content__menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: unset;
  row-gap: 18px;
}
.content__menu .menu {
  width: 100%;
}
.content__menu .menu .link__clic {
  position: relative;
}
.content__menu .menu .img__plate {
  width: 100%;
  height: 174px;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.content__menu .square__new {
  width: 80px;
  height: 29px;
  position: absolute;
  top: -148px;
  right: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: #99e2d0;
  color: #008766;
  font-family: "RobotoMedium";
  font-size: 14px;
  text-align: center;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}
.content__menu .card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  padding-top: 16px;
  padding-bottom: 12px;
  padding-right: 0;
  padding-left: 13px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.content__menu .card .txt {
  color: black;
}
.content__menu .card .card--title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-family: "RobotoBold";
  font-size: 18px;
  text-align: start;
}
.content__menu .card .subtitle {
  font-family: "RobotoLight";
  font-size: 17px;
  text-align: start;
}
.content__menu .card .heart-like {
  position: relative;
  padding-bottom: 15px;
}
.content__menu .card .heart-like .empty-heart {
  width: 25.5px;
  height: 25.5px;
  position: absolute;
  left: -50px;
}
.content__menu .card .heart-like .filled-heart {
  position: absolute;
  left: -50px;
  opacity: 0;
  transition: opacity 400ms;
  font-size: 24px;
}
.content__menu .card .heart-like .filled-heart:hover {
  opacity: 1;
  color: #9356dc;
}

@media (min-width: 1024px) {
  main {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
  }
  main .section__heading {
    height: 179px;
    padding-top: 30px;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    row-gap: 18px;
  }
  main .section__heading .card--title {
    font-family: "RobotoBold";
    font-size: 40px;
    text-align: center;
  }
  main .section__heading .txt {
    font-family: "RobotoLight";
    font-size: 18px;
    text-align: center;
    color: #353535;
  }
  main .section__btn {
    height: 228.38px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 180px;
    padding-left: 180px;
  }
  main .section__btn .title {
    padding-top: 0;
    padding-bottom: 25px;
    padding-right: 180px;
    padding-left: 0;
  }
  main .section__btn .content__btn--grey {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
    -moz-column-gap: 36.51px;
         column-gap: 36.51px;
  }
  main .section__btn .content__btn--grey .article__btn {
    width: 33.33%;
    padding-top: 0;
    padding-bottom: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  main .section__menu {
    padding-right: 180px;
    padding-left: 180px;
    padding-top: 0;
    padding-bottom: 30px;
  }
  main .section__menu .title {
    padding-top: 0;
    padding-bottom: 25px;
    padding-right: 180px;
    padding-left: 0;
  }
  main .section__menu .content__menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10%;
    row-gap: 50px;
  }
}
@media (min-width: 1024px) and (min-width: 768px) {
  main .section__menu .content__menu .menu {
    width: 45%;
  }
}

.footer__link {
  width: 100%;
  row-gap: 10px;
  padding-top: 22px;
  padding-bottom: 22px;
  padding-right: 25px;
  padding-left: 25px;
  display: flex;
  flex-direction: column;
  align-items: start;
  background: #353535;
}
.footer__link .logo {
  padding-top: 0;
  padding-bottom: 16px;
  font-family: "Shrikhand";
  font-size: 18px;
  text-align: start;
  color: #fff;
}
.footer__link .span__link {
  display: flex;
  flex-direction: column;
  align-items: start;
  -moz-column-gap: 7px;
       column-gap: 7px;
}
.footer__link .span__link .link {
  color: #fff;
  font-family: "RobotoMedium";
  font-size: 16px;
  text-align: start;
}
.footer__link .span__link i {
  padding-right: 11px;
}

@media (min-width: 1024px) {
  .footer__link {
    height: 114px;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-start;
    -moz-column-gap: 16px;
         column-gap: 16px;
  }
  .footer__link .logo {
    padding-top: 0;
    padding-bottom: 0;
  }
  .footer__link .span__link {
    width: 660px;
    height: 20px;
    display: flex;
    flex-direction: row;
    padding-top: 0;
    padding-bottom: 0;
  }
  .footer__link .span__link .without--icone {
    padding-left: 30px;
  }
}/*# sourceMappingURL=style.css.map */