.footer__link {
  width: 100%;
  row-gap: 10px;
  @include padding-tb(22px, 22px);
  @include padding-rl(25px, 25px);
  //@include flex-cross(start);
  @include color-bg(background, $font-grey);
  
  .logo {
    @include padding-tb(0, 16px);
    @include font-family("Shrikhand", 18px, start);
    @include color-bg(color, $white);
  }

  .span__link {
    @include flex-box(column);
    column-gap: 7px;

    .link {
      @include color-bg(color, $white);
      @include font-family("RobotoMedium", 16px, start);
    }

    i {
      padding-right: 11px;
    }
  }
}

//all responsive screen >= tablet
.footer__link {
  @include desktop {
    height: 114px;
    @include padding-tb(30px, 30px);
    @include flex-box(row-reverse);
    @include flex-align(center, flex-start);
    column-gap: 16px;

    .logo {
      @include padding-tb(0, 0);
    }

    .span__link {
      width: 660px;
      height: 20px;
      @include flex-box(row);
      @include padding-tb(0, 0);

      .without--icone {
        padding-left: 30px;
      }
    }
  }
}
