body {
  position: relative;
  @include mobile {
    @include flex-box(column);
    @include flex-align(center);
  }
}

//header container
.header {
  @include flex-box(column);
  @include flex-align(center);
}

//style logo color black
.logo--txt {
  @include tablet {
    display: none;
  }

  height: 63px;
  @include padding-tb(14px, 13px);
  @include color-bg(color, black);
  @include font-family("Shrikhand", 30px);
}

//style navigation icone
.nav__icon-txt {
  width: 100%;
  @include color-bg(background, $bg-nav);
  @include nav__shadow;

  li {
    @include color-bg(color, $font-grey);
    @include flex-box(row);
    @include flex-align(center, center);
    height: 50px;
    gap: 17px;
  }

  .txt {
    @include font-family("RobotoMedium", 16px);
  }
}

//all responsive screen >= tablet
.header {
  .logo--svg {
    @include mobile {
      display: none;
    }
    @include tablet {
      display: block;
      height: 96px;
      @include padding-tb(30px, 31.8px);

      img {
        width: 200px;
        height: 34.204px;
      }
    }
  }
}
