main {
  width: 100%;
}
.section__heading {
  width: 100%;
  height: 287px;
  @include padding-tb(39px, 57px);
  @include flex-box(column);
  @include flex-align(center);
  row-gap: 27px;
  @include color-bg(background, $bg-light-grey);

  .title {
    @include font-family("RobotoBold", 24px, center);
  }

  .txt {
    @include font-family("RobotoLight", 18px, center);
    @include color-bg(color, $font-grey);
  }

  .content__btn--purple {
    width: 218px;
  }
}

.section__btn {
  height: 440px;
  @include padding-tb(48px, 68px);
  @include margin-rl(20px, 32px);
  @include flex-box(column);

  .title {
    @include font-family("RobotoBold", 24px, left);
  }

  .article__btn {
    @include padding-tb(26px, 0);
    @include flex-box(column);
    @include flex-align(center);
    gap: 24.94px;

    .content__circle__btn {
      width: 100%;
      position: relative;
      @include flex-box(row);
      @include flex-align(center);
    }

    .circle__num {
      width: 24px;
      height: 24px;
      position: absolute;
      left: -12px;
      @include padding-tb(3px, 0);
      border-radius: 50%;
      @include color-bg(background, $primary-font-purple);
      @include color-bg(color, white);
      @include font-family("RobotoMedium", 14.182px, center);
    }
  }
}

//Section Cards style
.section__menu {
  @include padding-tb(54px, 66px);
  @include padding-rl(17px, 18px);
  @include color-bg(background, $lighten-grey);

  .title__menu {
    @include padding-tb(0, 21px);
    @include font-family("RobotoBold", 24px, left);
  }
}

.content__menu {
  @include flex-box(column);
  @include flex-align(center);
  row-gap: 18px;

  .menu {
    width: 100%;

    .link__clic {
      position: relative;
    }

    .img__plate {
      width: 100%;
      height: 174px;
      object-fit: cover;
      @extend %border-radius-15px;
    }
  }

  .square__new {
    width: 80px;
    height: 29px;
    position: absolute;
    top: -148px;
    right: 12px;
    @include flex-box(row);
    @include flex-align(center, center);
    @include color-bg(background, $tertiaire-light-green);
    @include color-bg(color, $tertiaire-font-green);
    @include font-family("RobotoMedium", 14px, center);
    @extend %border-radius-2px;
  }

  .card {
    @include flex-box(row);
    @include flex-align(center, space-between);
    @include color-bg(background, $white);
    @include padding-tb(16px, 12px);
    @include padding-rl(0, 13px);
    @extend %border-radius-15px;

    .txt {
      @include color-bg(color, black);
    }

    .card--title {
      @include flex-box(row);
      @include flex-align(center, space-between);
      @include font-family("RobotoBold", 18px, start);
    }

    .subtitle {
      @include font-family("RobotoLight", 17px, start);
    }
    //Content like heart
    .heart-like {
      @include margin-rl(25px, 25px);
      width: 22px;
      height: 25px;
      position: relative;

      //Emty heart svg
      .empty-heart {
        width: 24px;
        height: 25px;
        position: absolute;
        top: 0;
        left: -1px;
      }

      //heart felled
      .fill-heart {
        z-index: 1;
        position: relative;
        top: 0;
        left: 0;
        font-size: 22px;
        background-image: linear-gradient(175deg, #9356dc 0%, #ff79da 100%);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        opacity: 1;
        transition: opacity 0.1s;
      }

      .filled-heart:hover {
        opacity: 1;
      }

      .empty-heart:hover {
        opacity: 0;
      }
    }
  }
}

//All responsive screen >= tablet
main {
  @include tablet {
    @include desktop;
    @include flex-box(column);

    .section__heading {
      height: 239px;
      @include padding-tb(30px, 30px);
      @include flex-box(column);
      @include flex-align(center, space-between);
      row-gap: 18px;

      .title {
        @include font-family("RobotoBold", 40px, center);
      }

      .txt {
        @include font-family("RobotoLight", 18px, center);
        @include color-bg(color, $font-grey);
      }
    }

    .section__btn {
      @include desktop {
        @include padding-rl(180px, 180px);
      }
      @include padding-rl(20px, 20px);

      height: 228.38px;
      @include padding-tb(50px, 50px);

      @include margin-rl(0, 12px);

      .title {
        @include padding-tb(0, 25px);
        @include padding-rl(180px, 0);
      }

      .content__btn--grey {
        @include flex-box(row);
        @include flex-align(stretch, flex-start);
        column-gap: 36.51px;

        .article__btn {
          width: 33.33%;
          @include padding-tb(0, 0);
          @include flex-box(row);
          @include flex-align(center, space-between);
        }
      }
    }

    .section__menu {
      @include desktop {
        @include padding-rl(180px, 180px);
      }

      @include padding-rl(20px, 20px);
      @include padding-tb(30px, 30px);

      .title {
        @include padding-tb(0, 25px);
        @include padding-rl(20px, 0);

        @include desktop {
          @include padding-rl(180px, 0px);
        }
      }

      .content__menu {
        @include flex-box(row);
        flex-wrap: wrap;
        gap: 10%;
        row-gap: 50px;

        .menu {
          @include tablet {
            width: 45%;
          }
        }
      }
    }
  }
}
