//
.footer__link--grey {
    @include flex-cross(start);
    row-gap: 10px;
    @include color-font(background, $font-grey);
    padding: 22px 20px;
    width: 100%;
  .logo__link--white {
    @include style-font("Shrikhand",18px,start);
  }
  a {
    @include color-font(color, $white);
  @include style-font("RobotoMedium",16px,start);
  }
  i{
    padding-right: 10px;
  }
}

//a {
//color: darken($white,20%);// test color darken
//}
