//style svg logo ohmyfood 
.logo__link--white{
    display: block;
    fill: $white;
    width: 137.58px;
    height: 27px;
}

//Media queries footer mobile
.footer__mobile--768 {
    @include breakpoints('mobile') {
        //@include flex__column--right;
        width: 100%;
        background: $font-grey;
        padding: 22px 20px;
    }
        p{
            font-family: $bold-roboto;
            margin: 7px;
        }
        a{
            text-decoration: none;
            color: $white;
        }
}


//a {
    //color: darken($white,20%);// test color darken
//}
