//Media queries header
body{ 
  @include breakpoints("mobile"){
    @include flex-cross(center);
  }
}
//header layout
.header__nav {
    @include flex-cross(center);
    height: 63px;
    padding: 15px;
}
//style logo color black
.logo__link--black{
    @include color-font(color, black);
    @include style-font();
}
//style navigation icone
.nav__list--grey {
  @include color-font(background, $bg-nav);
  width: 100%;
  li{
    @include color-font(color, $font-grey);
    @include flex-main(center);
    @include flex-conten(center);
    height:50px;
    gap: 29px;
  }
  span{
    @include style-font("RobotoMedium",16px);
  }
}

