//Media queries fist mobile
body{ 
  @include breakpoints("mobile"){
  @include flex-cross(center);
  }
}
//header container
.header{
    @include flex-cross(center);
    width: 100%;
    height: 63px;
    padding: 15px;
}
//style logo color black
.header__logo{
    @include color-font(color, black);
    @include style-font;
}
//style navigation icone
.nav__icone-txt{
  @include color-font(background, $bg-nav);
  @include nav__shadow;
  width: 100%;
  li{
    @include color-font(color, $font-grey);
    @include flex-main(center);
    @include flex-conten(center);
    height:50px;
    gap: 29px;
  }
  span{
    @include style-font("RobotoMedium",16px);
  }
}

