main{
  width: 100%;
}
.section__headLiner {
  @include flex-cross;
  @include flex-conten(center);
  @include color-font(background, $lighten-grey);
  width: 100%;
  height: 354px;
  h1{
    @include style-font("RobotoBold", 24px);
    padding-bottom: 20px;
  }
  p{
    @include style-font("RobotoLight", 18px);
    padding-bottom: 30px;
  }
}

.section__title {
  @include style-font("RobotoBold", 24px, left);
  @include color-font(background, $lighten-grey);
  padding-bottom: 20px;
}

.section__btn--light {
  height: 272px;
  padding-top: 2px;
}

.bloc__btn--light{
  @include flex-cross(center);
  gap: 27px;
  div{
    @include flex-main(center);
    width: 85%;
    span{
      position: relative;
      left: 19.25px;
    }
  }
}
//Circle number
.circle__number {
  padding: 10px 14px;
  border-radius: 50%;
  @include color-font(background, $linear-purple);
  @include color-font(color, white);
}
.icone__btn--light {
  @include color-font(color, $light-grey);
  font-size: 16px;

  &:hover {
    color: ($linear-purple);
  }
}
.icone__heart--light {
  @include color-font(color, $light-grey);
}

//Section Cards style
.section__card--menu{
  @include flex-cross(unset);
  @include color-font(background, $lighten-grey);
}

.bloc__card--menu {
  @include flex-cross(center);
  .link__clic{
    width: 91%;
  }
  img{
    object-fit: cover;
    width: 100%;
    height: 174px;
  }
}

.new__bg-green {
  @include color-font(background, $tertiaire-light-green);
  @include color-font(color, $tertiaire-font-green);
  @include style-font("RobotoMedium", 14px, center);
}
.card-content{
  @include flex-cross(start);
  @include color-font(color, black);
}
.card-title{
  @include style-font("RobotoBolt", 18px,start);
}
.card-subtitle{
  @include style-font("RobotoLignt", 17px,start);
}
