main{
  width: 100%;
}
//Tête d'affiche de la page
.section__heading{
  @include flex-cross;
  @include flex-conten(space-evenly);
  @include color-font(background, $lighten-grey);
  width: 100%;
  height: 286px;
  h1{
    @include style-font("RobotoBold", 24px);
  }
  p{
    @include style-font("RobotoLight", 18px);
  }
}
.section__btn{
  height: 440px;
  @include flex-cross(unset);
  @include flex-conten(space-evenly);
  h2{
    @include style-font("RobotoBold", 24px, left);
  }
}
//Le container des buttons et le cercle numeron inter
.bloc__btn{
  @include flex-cross(center);
  gap: 26px;
  .contain__btn{
    @include flex-main(center);
    width: 85%;
    position: relative;
  }
  .circle__num{
    padding: 10px 14px;
    border-radius: 50%;
    @include color-font(background, $primary-font-purple);
    @include color-font(color, white);
    position: absolute;
    left: -17px;
  }
}
//Section Cards style
.section__menu{
  @include flex-cross(unset);
  @include color-font(background, $lighten-grey);
  h2{
    @include style-font("RobotoBold", 24px, left);
  }
}
.bloc__menu {
  @include flex-cross(center);
  .link__clic{
    width: 91%;
    position: relative;
  }
  .img__plate{
    object-fit: cover;
    width: 100%;
    height: 174px;
  }
}

.square__new{
  @include color-font(background, $tertiaire-light-green);
  @include color-font(color, $tertiaire-font-green);
  @include style-font("RobotoMedium", 14px, center);
  position: absolute;
  right: 0;
  top: 2px;
}
.card-txt{
  @include color-font(color, black);
}
.card-title{
  @include style-font("RobotoBolt", 18px,start);
  @include flex-main(center);
  @include flex-conten(space-between);
  
}
.card-subtitle{
  @include style-font("RobotoLignt", 17px,start);
}

 
//code openclasseroom*********************************
//animation coeur a copier ********************


.heart-like{
  position: relative;

  .empty-heart{
    width: 16px;
    height: 17px;
    position: absolute;
  }

  .filled-heart{
    position: absolute;
    left: 0;
    top: O;
    color: black;
    opacity: 0;
  
    transition: color .5ms;
    transition: opacity 1000ms;
    &:active{
      opacity: 1;
      color: purple;
    
    }
  }

}



//*********************************************
