//The pink headliner button
.purple {
  flex-basis: 218px;
  height: 50px;
  @include radius(color, $white, 25px);
  @include padding-rl(18.75px, 18.75px);
  @include btn__gradient-purple;
  @include font-family("RobotoMedium", 16px);
  transition: all 0.3s ease-in-out;

  &:hover {
    @include btn__shadow-purple;
    opacity: 80%;
  }
}

//Gray buttons
.btn--grey {
  flex-grow: 1;
  flex-basis: 322.48px;
  @include flex-box(row);
  @include flex-align(center, flex-start);
  @include color-bg(background, $lighten-grey);
  @include btn__shadow;
  @extend %btn;
  height: 72.37px;

  .icon--grey {
    @include color-bg(color, $light-grey);
    font-size: 21px;
    &:hover {
      color: ($linear-purple);
    }
  }

  .fa-mobile-screen-button {
    @include padding-rl(27px, 22.71px);
  }

  .fa-list {
    @include padding-rl(21px, 23.73px);
  }

  .fa-store {
    @include padding-rl(18px, 24.73px);
  }
}
