//Les propietés des boutons gris
%btn {
  @include radius(color, black, 20px);
  @include font-family("RobotoMedium", 16px);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
//Le bouton couleur rose headliner
.purple {
  width: 218px;
  height: 50px;
  @include radius(color, $white, 30px);
  @include padding-tb(13px, 13px);
  @include padding-rl(18.75px, 18.75px);
  @include btn__gradient-purple;
  @include font-family("RobotoMedium", 16px);
  &:hover {
    //background: ($background-image);
    opacity: 0.9;
  }
}
//Les boutons couleur grises
.btn--grey {
  width: 322.48px;
  flex-shrink: 1;
  @include flex-box(row);
  @include flex-align(center, space-evenly);
  @include color-bg(background, $lighten-grey);
  @include btn__shadow;
  @extend %btn;
  height: 72px;
  padding-left: 19px;

  &:hover {
    background: ($font-grey);
  }
  .icon--grey {
    @include color-bg(color, $light-grey);
    font-size: 21px;
    &:hover {
      color: ($linear-purple);
    }
  }
  .fa-mobile-screen-button {
    padding-left: 15px;
  }
  .span--padding-left {
    padding-left: 14px;
  }
}


//all responsive screen >= tablet

.purple {

}
