
.body__card {
  @include mobile {
    @include flex-box(column);
    position: relative;
  }

  .card__header__nav {
    width: 100%;
    @include flex-box(row-reverse);
    @include flex-align(center, center);
    background-color: $white;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);

    & header {
      width: 100%;
      @include padding-rl(89px, 42px);
    }

    .nav__icon__arrow {
      @include padding-rl(0, 17px);

      .fa-arrow-left{
        color: $black;
      }
      
    }
  }
}

.main__card {
  @include padding-tb(0, 40px);
  background-color: #f6f6f6;

  .card__img {
    width: 100%;
    height: 275px;
    object-fit: cover;
  }
}

.card__menu {
  position: relative;
  margin-top: -51px;
  @include padding-rl(13px, 13px);
  @include flex-box(column);
  @include flex-align(center, center);
  row-gap: 40px;
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
  background-color: #f6f6f6;
  @include tablet{
    margin-right: 96px;
    margin-left: 96px;
    padding-right: 105px;
    padding-left: 105px;
  }
  @include desktopL{
    margin-right: 193px;
    margin-left: 193px;
    padding-right: 210px;
    padding-left: 210px;
  }

  .content__title__heart-like {
    @include padding-tb(32px, 0);
    @include flex-box(row);
    @include flex-align(center, space-between);
  }

  .title {
    @include font-family("Shrikhand", 28px, start);
  }

  //container like heart
  .heart-like {
    @include margin-rl(25px, 25px);
    @include mobile {
      width: 22px;
      height: 25px;
      position: relative;

      // emty heart i
      .fa-regular {
        position: absolute;
        top: 20;
        left: -1px;
        font-size: 25px;
        background-color:black;
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
      }

      //container checkbox
      .fill-heart {
        z-index: 1;
        position: relative;
        top: 0;
        left: 0;
        font-size: 22px;
        background-image: linear-gradient(175deg, #9356dc 0%, #ff79da 100%);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;

        // input checkbox
        input {
          position: absolute;
          opacity: 0;
          z-index: 2;
          top: 4px;
          left: 4px;
          cursor: pointer;
          // background-image: none;
        }

        label {
          opacity: 0;
          // transition: opacity 0.1s;
        }
      }

      .fill-heart input:checked + label {
        opacity: 1;
      }

      .fill-heart input:checked + label ~ .fa-regular {
        opacity: 0;
      }
    }
  }
}

.card__content {
  width: 100%;
  @include flex-box(column);
  @include flex-align(flex-start);
  gap: 12px;

  .card__title {
    @include font-family("RobotoLight", 16px, start);
    text-transform: uppercase;
  }

  .card__title::after {
    content: "";
    width: 40px;
    height: 3px;
    display: block;
    background-color: #99e2d0;
  }

  .card__txt {
    position: relative;
    width: 100%;
    height: 69px;
    padding: 15px;
    border-radius: 15px;
    background-color: $white;
    box-shadow: 0px 4.01149px 15.0431px 0px rgba(0, 0, 0, 0.1);
    transition-property: transform;
    &:hover {
      padding-right: 83px;
    }

    .txt__bolt {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      @include font-family("RobotoMedium", 18px, start);
    }

    .txt__light {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      padding-right: 27px;

      @include font-family("RobotoLight", 15.043px, start);
    }

    .price {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      padding-bottom: 15px;
      padding-right: 15px;
      @include flex-box(row);
      @include flex-align(end, end);
      @include font-family("RobotoBolt", 15.043px, start);
      color: #353535;
      font-weight: 700;
      transition-property: transform;

      &:hover {
        padding-right: 83px;
      }
    }
  }

  .card__txt::before {
    content: "\f058";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    color: white;
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    @include flex-box(column);
    @include flex-align(center, center);
    background-color: #99e2d0;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    opacity: 0;
    transition: all 0.6 ease-in;
  }
  .card__txt:hover::before {
    width: 59px;
    opacity: 1;
  }
}

.footer__link__card {
  @include mobile {
    width: 100%;
    row-gap: 10px;
    @include padding-tb(22px, 22px);
    @include padding-rl(25px, 25px);
    @include color-bg(background, $font-grey);

    .logo {
      @include padding-tb(0, 16px);
      @include font-family("Shrikhand", 18px, start);
      @include color-bg(color, $white);
    }

    .span__link {
      @include flex-box(column);
      @include flex-align(flex-start, unset);
      column-gap: 7px;

      .link {
        @include color-bg(color, $white);
        @include font-family("RobotoMedium", 16px, start);
      }

      i {
        padding-right: 11px;
      }
    }
  }
}
