.body__card {
  @include mobile {
    @include flex-box(column);
    position: relative;
  }

  .card__header__nav {
    width: 100%;
    @include flex-box(row-reverse);
    @include flex-align(center, center);
    background-color: $white;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);

    & header {
      width: 100%;
      @include padding-rl(89px, 42px);
    }

    .nav__icon__arrow {
      @include padding-rl(0, 17px);

      .fa-arrow-left {
        color: $black;
      }
    }
  }
}

.main__card {
  background-color: #f6f6f6;
  //background tablet desktop
  @include tablet {
    background-color: $white;
  }

  .card__img {
    width: 100%;
    height: 275px;
    object-fit: cover;
  }
}

.card__menu {
  position: relative;
  margin-top: -51px;
  @include padding-rl(13px, 13px);
  @include flex-box(column);
  @include flex-align(center, center);
  row-gap: 40px;
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
  background-color: #f6f6f6;
  @include tablet {
    margin-right: 96px;
    margin-left: 96px;
    padding-right: 105px;
    padding-left: 105px;
  }
  @include desktopL {
    margin-right: 193px;
    margin-left: 193px;
    padding-right: 210px;
    padding-left: 210px;
  }

  .content__title__heart-like {
    @include padding-tb(32px, 0);
    @include flex-box(row);
    @include flex-align(center, space-between);
  }

  .title {
    @include font-family("Shrikhand", 28px, start);
  }

  //Content like heart
  .heart-like {
    @include margin-rl(25px, 25px);
    width: 22px;
    height: 25px;
    position: relative;

    //Emty heart i
    .fa-regular {
      position: absolute;
      top: 2px;
      left: 0;
      font-size: 22px;
      background-color: black;
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
    }

    //fill heart
    .filled-heart {
      z-index: 1;
      position: absolute;
      top: 2px;
      left: 0;
      font-size: 22px;
      background-image: linear-gradient(175deg, #9356dc 0%, #ff79da 100%);
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
      opacity: 0;
      transition: opacity 0.1s;
    }

    .filled-heart:hover {
      opacity: 1;
    }

    .fa-regular:hover {
      opacity: 0;
    }
  }

  //The pink headliner button card
.content__btn__purple-card {
  @include padding-tb(0, 40px);
  .purple-card {
    width: 218px;
    height: 50px;
    @include radius(color, $white, 25px);
    @include padding-rl(18.75px, 18.75px);
    @include btn__gradient-purple;
    @include font-family("RobotoMedium", 16px);

    &:hover {
      @include btn__shadow-purple;
      opacity: 80%;
    }
  }
}
}

.card__content,
.card__list {
  width: 100%;
  @include flex-box(column);
  @include flex-align(flex-start);
  gap: 12px;

  .card__title {
    @include font-family("RobotoLight", 16px, start);
    text-transform: uppercase;
  }

  .card__title::after {
    content: "";
    width: 40px;
    height: 3px;
    display: block;
    background-color: #99e2d0;
  }

  .card__txt {
    position: relative;
    width: 100%;
    height: 69px;
    padding: 15px;
    border-radius: 15px;
    background-color: $white;
    box-shadow: 0px 4.01149px 15.0431px 0px rgba(0, 0, 0, 0.1);
    transition: transform 3s;

    &:hover {
      padding-right: 83px;
    }

    .txt__bolt {
      position: relative;
      @extend %style-txt;
      @include font-family("RobotoMedium", 18px, start);
    }

    .txt__light {
      @extend %style-txt;
      padding-right: 27px;
      @include font-family("RobotoLight", 15.043px, start);
    }

    .price {
      border-radius: 15px;
      inset: 0;
      position: absolute;
      padding-bottom: 15px;
      padding-right: 15px;
      @include flex-box(row);
      @include flex-align(end, end);
      @include font-family("RobotoBolt", 15.043px, start);
      color: #353535;
      font-weight: 700;
      cursor: pointer;
      transition: padding-right 0.3s cubic-bezier(0.042, 0, 0.58, 1);

      &:hover {
        padding-right: 69px;
      }
    }
  }

  .card__txt::before {
    content: "\f058";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    color: white;
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;
    @include flex-box(column);
    @include flex-align(center, center);
    background-color: #99e2d0;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    cursor: pointer;
    transition: width 0.3s cubic-bezier(0.042, 0, 0.58, 1);
  }
  .card__txt:hover::before {
    width: 59px;
  }
}

.footer__link__card {
  @include mobile {
    width: 100%;
    row-gap: 10px;
    @include padding-tb(22px, 22px);
    @include padding-rl(25px, 25px);
    @include color-bg(background, $font-grey);

    .logo {
      @include padding-tb(0, 16px);
      @include font-family("Shrikhand", 18px, start);
      @include color-bg(color, $white);
    }

    .span__link {
      @include flex-box(column);
      @include flex-align(flex-start, unset);
      column-gap: 7px;

      .link {
        @include color-bg(color, $white);
        @include font-family("RobotoMedium", 16px, start);
      }

      i {
        padding-right: 11px;
      }
    }
  }
}



//All responsive screen >= tablet
.footer__link__card {
  @include desktop {
    height: 114px;
    @include padding-tb(30px, 30px);
    @include flex-box(row-reverse);
    @include flex-align(center, flex-start);
    column-gap: 16px;

    .logo {
      @include padding-tb(0, 0);
    }

    .span__link {
      width: 660px;
      height: 20px;
      @include flex-box(row);
      @include padding-tb(0, 0);

      .without--icone {
        padding-left: 30px;
      }
    }
  }
}

.card__list {
  @keyframes appear {
    100% {
      opacity: 1;
      transform: none;
    }
  }
}

.entry {
  //Spawn animation
  opacity: 0;
  background-color: transparent;
  transform: translateY(30px);
  animation: appear 3s 0.15s cubic-bezier(0.47, 0, 0.75, 0.72) forwards;
}

.plate {
  //Spawn animation
  opacity: 0;
  background-color: transparent;
  transform: translateY(30px);
  animation: appear 3s 1s cubic-bezier(0.47, 0, 0.75, 0.72) forwards;
}

.dessert {
  //Spawn animation
  opacity: 0;
  background-color: transparent;
  transform: translateY(30px);
  animation: appear 3s 2s cubic-bezier(0.47, 0, 0.75, 0.72) forwards;
}
