//Test responsive only-mobile
@mixin mobile {
    @media screen and (max-width: 768px) {
        @content;
    }
}
@mixin tablete {
    @media screen and (max-width: 1024px) {
        @content;
    }
}
@mixin desktop {
    @media screen and (max-width: 1440px) {
        @content;
    }
}

//align the flexible cross-axis
@mixin flex__column--right
{
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

@mixin flex__column--left
{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

@mixin flex__column--center
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

//align the flexible main-axis
@mixin flex__row--right
{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

@mixin flex__row--left
{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

@mixin flex__row--center
{
    display: flex;
    flex-direction: row;
    align-items: center;
}

//align the flexible container's
@mixin flex__around
{
    justify-content: space-around;
}

@mixin flex__between
{
    justify-content: space-between;
}

@mixin flex__evenly
{
    justify-content: space-evenly;
}






