//align the flexible cross-axis
%flex-column-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

%flex-column-left {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

%flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
//align the flexible main-axis
%flex-row-right {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

%flex-row-left {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

%flex-row-center {
  display: flex;
  flex-direction: row;
  align-items: center;
}
%btn-round {
  @include style-font("RobotoMedium", 16px);
  height: 72.38px;
  border-radius: 20px;
}
%btn-purple {
  @include color-font(color, white);
  @include color-font(background, $linear-purple);
}
%btn-lighten-grey {
  @include color-font(color, black);
  @include color-font(background, $lighten-grey);
}
