//Variables color palettes for page
$primary-font-purple: #9356dc;
$secondary-light-pink: #ff79da;
$tertiaire-font-green: #008766;
$tertiaire-light-green: #99e2d0;

//Seconde color palettes for page
$font-grey: #353535;
$light-grey: #7e7e7e;
$font-blue: #003a68;
$light-blue: #89c8fa;
$white: #fff;
$bg-nav:#EAEAEA;
$bg-btn-light:#F6F6F6;

$lighten-grey: lighten($font-grey, 76%);
$linear-purple: (rgba(210, 99, 222, 100));
