//Responsive only-screens(mobile, tablet, desktop)
@mixin mobile {
  @media (min-width: map-get($breakpoints,"mobile")) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: map-get($breakpoints,"tablet")) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: map-get($breakpoints,"desktop")) {
    @content;
  }
}
// @mixin deskL {
//   @media (min-width: map-get($breakpoints,"desktopL")) {
//     @content;
//   }
// }
@mixin breakpoint($screen: 0) {
  @media (min-width: $screen) {
    @content;
  }
}
//align the flexible cross-axis
@mixin flex-cross($align-items: center) {
  display: flex;
  flex-direction: column;
  align-items: $align-items;
}
//align the flexible main-axis
@mixin flex-main($align-items: center, $justify-content: unset) {
  display: flex;
  flex-direction: row;
  align-items: $align-items;
  justify-content: $justify-content;
}

//test flex
@mixin flex-box($flex-direction: row) {
  display: flex;
  flex-direction: $flex-direction;
}

@mixin flex-align($align-items: center, $justify-content: unset) {
  align-items: $align-items;
  justify-content: $justify-content;
}

//Mixins font-family with editable arguments
@mixin font-family(
  $font-family: "Shrikhand",
  $size: null,
  $text-align: center
) {
  font-family: $font-family;
  font-size: $size;
  text-align: $text-align;
}

//Mixins management color and background
@mixin color-bg($color, $valeur) {
  #{$color}: $valeur;
}
//broder solid and color
// test
@mixin border($color, $valeur, $border: null) {
  #{$color}: $valeur;
  border: $border;
}

// Mixin border-radius
@mixin radius($color, $valeur, $border-radius: null, $border: none) {
  #{$color}: $valeur;
  border-radius: $border-radius;
  border: $border;
}

// mixin paddings *****************
@mixin padding($padding, $valeur) {
  padding-top: $valeur;
  padding-right: $valeur;
  padding-bottom: $valeur;
  padding-left: $valeur;
}

@mixin padding-tb($top: null, $bottom: null) {
  padding-top: $top;
  padding-bottom: $bottom;
}
@mixin padding-rl($right: null, $left: null) {
  padding-right: $right;
  padding-left: $left;
}

//Boxe shadow nav
@mixin nav__shadow {
  box-shadow: inset -5px -5px 9px rgba(255, 255, 255, 0.45),
    inset 5px 5px 9px rgba(94, 104, 121, 0.3);
}

@mixin btn__shadow {
  box-shadow: -5px -5px 9px rgba(255, 255, 255, 0.45),
    5px 5px 9px rgba(94, 104, 121, 0.3);
}
@mixin linearGradient($background, $valeur1, $valeur2) {
  #{$background}: linear-gradient($valeur1, $valeur2);
}

@mixin btn__shadow-purple {
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}

@mixin btn__gradient-purple($border-radius: 25px) {
  #{background}: linear-gradient(175deg, #9356dc 0%, #ff79da 100%);
}

//button light
@mixin btn__shadow-grey {
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}
